{% extends "myapp/base.html" %}
{% load static %}
{% block title %}
    Password Changed
{% endblock title %}

{% block main-content %}
<style>
    .confirmation-message {
        background-color: #FFF8E1; /* Light cream */
        color: #333; /* Dark text color */
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
    }
    
    .giphy-embed {
        margin-top: 20px;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="confirmation-message bg-light p-4 rounded">
                <h1 class="display-4">Password Changed Successfully!</h1>
                <p>Your password has been changed successfully.</p>
                <p>Feel free to <a href="{% url 'profile' %}" class="link-custom">go back to your profile</a>.</p>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
